{% extends 'servicios/base.html' %}

{% block header %}
Lista de Pedidos:
{% endblock header %}

{% block main %}
    <button>
        <a href=" {% url 'pedido_create' %}" style="color: white;">Crear Registro:</a>
    </button>
    {% for object in object_list %}
        <p> {{ object }}
            Estado: {{object.estado}}
        </p>
    {% empty %}
    <p>No hay Registros.</p>
    {% endfor %}
    <button>
        <a href="{% url 'index' %}" style="color: white;">Volver</a>
    </button>
{% endblock main %}